# Door
# .gitignore

# 忽略的文件 / 文件夹

# IDE / EDITOR
.vscode
*.code-workspace
compile_commands.json

# Mid-files
*.o
*.bin
*.lst
*.elf

# Kernel elf file
kernel/kernel

# Img file
*.img

# Editor
.*
*~
\#*\#

# No ignore
!.gitignore
!.clang-format
